#one{
    background-color: yellowgreen;
    color: blue;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 3px solid red;
    border-radius: 10px;
    width: 400px;
    height: 100px; 
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
#one:hover{~
    background-color: pink;
    color: blueviolet;
}

